@use"../../style/paint.scss";

.footer {
  background-color: #304146;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: paint.$ColdWhite;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  width: 100%;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    max-width: 1252px;
    width: 100%;
  }

  .footer-section {
    max-width: 200px;

    .footer-title {
      color: paint.$LightBlue;
      font-size: 18px;
      margin-bottom: 10px;
    }

    p, a {
      color: paint.$ColdWhite;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        color: paint.$LightBlue;
      }
    }
  }

  .map iframe {
    border-radius: 10px;
  }

  .footer-bottom {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid paint.$ColdWhite;
    margin-top: 20px;
    max-width: 1252px;
    width: 100%;

    .highlight {
      color: paint.$LightBlue;
    }
  }

  .social-icons {
    display: flex;
    gap: 10px;

    .social-icon {
      font-size: 20px;
      color: #fff;
      transition: color 0.3s;

      &:hover {
        color: paint.$LightBlue;
      }
    }
  }
}
