<footer class="footer">
  <div class="footer-container">
    <div class="footer-section map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2984.6717848112403!2d44.99044987577326!3d41.57634758425353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4044050f989e47f7%3A0x97cf3f9349706850!2sNew%20Space!5e0!3m2!1sen!2sge!4v1739019936848!5m2!1sen!2sge"
        width="250"
        height="200"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
      </iframe>
    </div>
    <div class="footer-section">
      <h3 class="footer-title">Address</h3>
      <p >18 მიკრო რაიონი, სპორტის სასახლის მიმდებარე ტერიტორია.</p>
    </div>
    <div class="footer-section">
      <h3 class="footer-title">Details</h3>
      <p><a href="#">Menu</a></p>
      <p><a href="#">Time</a></p>
    </div>
    <div class="footer-section">
      <h3 class="footer-title">Contact Us</h3>
      <p>(+995) 595 01 97 01</p>
      <p><a href="mailto:Oliva@Contact.Com">NewSpace.ge</a></p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; Copyright 2024 Powered By <span class="highlight">New Space Rustavi</span></p>
    <div class="social-icons">
      <a class="social-icon" href="https://www.facebook.com/Newspacerustavi" target="_blank"><i class="pi pi-facebook"></i></a>
      <a class="social-icon"  href="https://www.tiktok.com/@newspacerustavi" target="_blank"><i class="pi pi-tiktok"></i></a>
      <a class="social-icon"  href="https://www.instagram.com/newspacerustavi/" target="_blank"><i class="pi pi-instagram"></i></a>
    </div>
  </div>
</footer>
