@use"../../style/paint.scss";

.footer {
  background-color: #231815;
  color: paint.$ColdWhite;
  padding: 20px 0;
  font-family: Arial, sans-serif;

  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    padding: 0 10%;
  }

  .footer-section {
    max-width: 200px;

    .footer-title {
      color: paint.$LightBlue;
      font-size: 18px;
      margin-bottom: 10px;
    }

    p, a {
      color: paint.$ColdWhite;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        color: paint.$LightBlue;
      }
    }
  }

  .map iframe {
    border-radius: 10px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-top: 1px solid #444;
    margin-top: 20px;

    .highlight {
      color: paint.$LightBlue;
    }
  }

  .social-icons {
    display: flex;
    gap: 10px;

    .social-icon {
      font-size: 20px;
      color: #fff;
      transition: color 0.3s;

      &:hover {
        color: paint.$LightBlue;
      }
    }
  }
}
