<div class="container">
        <footer class="footer">
            <div class="footer-section">
              <h4>CONTACT US</h4>
              <p> 8th floor, 379 Hudson St, New York, NY 10018</p>
              <p> (+1) 96 716 6879</p>
              <p> contactsite.com</p>
            </div>
          
            <div class="footer-section">
              <h4>LATEST TWITTER</h4>
              <div class="tweet">
                <p> <span></span> Activello is a good option. It has a slider built into that displays the featured image in the slider.</p>
                <a href="#">https://buff.ly/2zaSfAQ</a>
              </div>
              <div class="tweet">
                <p> <span></span> Activello is a good option. It has a slider built into that displays</p>
                <a href="#">https://buff.ly/2zaSfAQ</a>
              </div>
            </div>
          
        </footer>
    </div>