<div class="navbar">
  <div class="container">
    <div class="logo-side">
      <img class="RLogo" src="../../../assets/photos/newSapce.jpg" alt="" />
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="Menu">Menu</a></li>
      <li><a routerLink="Space">Space</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="right-side">
      <div class="social-icons">
        <a href="https://www.facebook.com/Newspacerustavi" target="_blank"><i class="pi pi-facebook"></i></a>
        <a href="https://www.tiktok.com/@newspacerustavi" target="_blank"><i class="pi pi-tiktok"></i></a>
        <a href="https://www.instagram.com/newspacerustavi/" target="_blank"><i class="pi pi-instagram"></i></a>
      </div>
      <button class="menu-toggle">&#9776;</button>
    </div>
  </div>
</div>
