@import "ng-zorro-antd/ng-zorro-antd.min.css";
@import "primeicons/primeicons.css";
body{
    margin: 0px !important;
    font-family: Arial, sans-serif;
    padding: 0px !important;
}

 .ant-carousel{
   height: 90vh !important;
 }
